<mat-sidenav-container class="sidenav-container">

  <mat-sidenav #drawer class="sidenav" fixedInViewport="true"
               [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
               [mode]="(isHandset$ | async) ? 'over' : 'side'"
               [opened]="!(isHandset$ | async)">

    <mat-toolbar color="primary">Menu</mat-toolbar>

    <mat-nav-list>
      <mat-list-item (click)="onListItemClick('timecard')">Timecard</mat-list-item>
      <mat-list-item (click)="onListItemClick('allocations')">Allocations</mat-list-item>
      <mat-list-item (click)="onListItemClick('accrual')">Accruals</mat-list-item>
      <mat-list-item (click)="onListItemClick('wam')">WAMs</mat-list-item>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>

    <mat-toolbar color="primary">

      <button type="button" mat-icon-button *ngIf="isHandset$ | async" (click)="drawer.toggle()">
        <mat-icon>menu</mat-icon>
      </button>

      <span>Application Title</span>

      <span class="example-spacer"></span>

      <button mat-button [matMenuTriggerFor]="menu">
        <mat-icon>more_vert</mat-icon>
      </button>

      <mat-menu #menu="matMenu">
        <button mat-menu-item (click)="openSomethingInterestingDialog()">Something Interesting</button>
        <button mat-menu-item (click)="loadWams()">Load WAMs</button>
      </mat-menu>

    </mat-toolbar>

  </mat-sidenav-content>

</mat-sidenav-container>
