<mat-sidenav-container class="sidenav-container">

    <!-- Left side drawer -->
    <mat-sidenav #drawer class="sidenav" fixedInViewport="true"
                 [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
                 [mode]="(isHandset$ | async) ? 'over' : 'side'"
                 [opened]="!(isHandset$ | async)">

      <mat-toolbar color="primary">Menu</mat-toolbar>

      <mat-nav-list>
        <mat-list-item (click)="onListItemClick('timecard')">Timecard</mat-list-item>
        <mat-list-item (click)="onListItemClick('accrual')">Accruals</mat-list-item>
        <mat-list-item (click)="onListItemClick('wam')">WAMs</mat-list-item>
      </mat-nav-list>
    </mat-sidenav>

    <!-- Main content -->
    <mat-sidenav-content>

      <!-- Toolbar -->
      <mat-toolbar color="primary">

        <button type="button" mat-icon-button *ngIf="isHandset$ | async" (click)="drawer.toggle()">
          <mat-icon>menu</mat-icon>
        </button>

        <span>Timecard for {{timecard?.userName}}</span>

        <span class="example-spacer"></span>

        <button mat-button [matMenuTriggerFor]="menu">
          <mat-icon>more_vert</mat-icon>
        </button>

        <mat-menu #menu="matMenu">
          <button mat-menu-item (click)="openAddDialog()">New something</button>
          <button mat-menu-item (click)="showDoc()">Show Documentation</button>
        </mat-menu>

      </mat-toolbar>

      <!-- Page Contents -->
      <div class="wrapper">

        <tc-timecard-input *ngIf="feature === 'timecard'"
          [timecard]="timecard"
          [wams]="wams">
        </tc-timecard-input>

        <tc-accrual *ngIf="feature === 'accrual'"
          [weekEndDate]="timecard.weekEndDate"
          [accrual]="timecard.accrual">
      </tc-accrual>

        <tc-wam *ngIf="feature === 'wam'"
          [wams]="wams">
        </tc-wam>

        <tc-accrual *ngIf="feature == 'accruals'"
          [weekEndDate]="timecard.weekEndDate"
          [accrual]="timecard.accrual">
        </tc-accrual>
      </div>

    </mat-sidenav-content>

  </mat-sidenav-container>
